// SPDX-License-Identifier: GPL-2.0-only
/*
 * Battery device tree entries specific to panther
 *
 * Copyright 2022 Google,LLC
 *
 */

&pca9468_dc {
	pca9468,input-current-limit = <3000000>; /* 6A max */
};

&google_cpm {
	google,wlc-dc-fcc-ua = <4950000>; /* 1C(4950mah) */
};
/* TODO: thermal hal */

