// SPDX-License-Identifier: GPL-2.0-only
/*
 * Google device tree source
 *
 * Copyright 2022 Google Inc.
 *
 */

#include "../google-dts-base/zuma-fts-touch.dtsi"

&spi_20 {
	status = "okay";
	dma-mode;
	dmas = <&pdma1 18 &pdma1 19>;
	swap-mode = <1>;
};

&spitouch {
	st,dchip_id = /bits/ 8 <0x36 0x40>;
	st,max-coords = <1343 2991>;
};

&m_ldo25_reg {
	regulator-min-microvolt = <1800000>;
	regulator-max-microvolt = <1800000>;
};

&m_ldo4_reg {
	regulator-min-microvolt = <3300000>;
	regulator-max-microvolt = <3300000>;
};
